{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">TechStore</h1>
                <p class="lead fw-normal text-dark-50 mb-0">Recherchez, trouvez et achetez les meilleurs produits électroniques chez TechStore.</p>
            </div>
        </div>
    </header>
    <section class="py-5">

                    
        <div class="container my-5">

        
            <div class="row">
        {% for Produit in Produits %}          

                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                    <div class="card w-100 my-2 shadow-2-strong">
                        <img src=" {{Produit.image}} " class="card-img-top" style="aspect-ratio: 1 / 1" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"> {{Produit.Nom}} </h5>
                            <p class="card-text"> {{Produit.prix}} Ar </p>
                                <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                    <a href="#!" class="btn btn-primary shadow-0 me-1">Add to cart</a>
                                </div>
                        </div>
                    </div>
                </div>
        {% endfor %}     
                
        </div>

    </section>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>

{% endblock %}
