<title>
    {% block title %}Login{% endblock %}
</title>
<link rel="stylesheet" href="css/login.css">

<link rel="stylesheet" href="css/bootstrap.min.css">
{% block body %}    
<div class="wrapper">
   <form action=" {{path('app_login')}} "  method="post" class="form-signin">
      <h2 class="form-signin-heading">Login</h2>
      <label for="Username" >Email</label>
      <input type="email" class="form-control" name="_username" placeholder="Email" id="Username" /><br>
      <label for="Password">Password</label>
      <input type="password" class="form-control" name="_password" placeholder="Password" id="password" />     
      <button class="btn btn-lg btn-dark btn-block" type="submit">Login</button>   
   </form>
</div>
{% endblock %}